@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;

    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;

    --primary: 215 25% 27%;
    --primary-foreground: 0 0% 98%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 215 25% 27%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 215 20% 65%;
    --accent-foreground: 215 25% 27%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 215 25% 27%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 215 25% 27%;
    --sidebar-primary: 215 25% 27%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 40% 96%;
    --sidebar-accent-foreground: 215 25% 27%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 215 25% 27%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;

    --card: 215 25% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 215 25% 27%;

    --secondary: 215 20% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 20% 30%;
    --muted-foreground: 215 15% 70%;

    --accent: 215 20% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 20% 30%;
    --input: 215 20% 30%;
    --ring: 215 15% 70%;
    --sidebar-background: 215 25% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 215 25% 27%;
    --sidebar-accent: 215 20% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 20% 30%;
    --sidebar-ring: 215 15% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}